<h1>LOCALIDADES</h1>

<button class="btn btn-dark"(click)="mostrar(1)">Ingrese localidades</button><br><br>
<div id="formulario" *ngIf="verf==true">  
    <div class="col-sm-6 col-md-5 form-section">
    <div class="login-wrapper">
        <div class="form-group" >
  
          <div>
          <span style="color: crimson;" *ngIf="validnombre==false">Ingrese el nombre de la localidad</span>
          <br>
          <input type="text" [(ngModel)]="localidades.nombre" placeholder="Ingrese el nombre de la localidad"> 
        </div>
          
        
        
    
          
          <div>
          <span style="color: crimson;" *ngIf="validnumero==false">Ingrese el número de la localidad</span>
          <br>
          <input type="number" [(ngModel)]="localidades.numero"  placeholder="ingrese el número de la localidad">
        </div>

         
          
        </div>
      </div>  
  
      
    
        <div class="button2" >
        <button *ngIf="beditar===false" type="button" class="btn btn-warning" style="margin: 50px"(click)="ingresar()" >Guardar</button>
  
        <button *ngIf="beditar===true"  type="button" class="btn btn-warning" style="margin: 40px" (click)="edita()">Guardar cambios</button>
        
        <button type="button" class="btn btn-warning"style="margin: 40px" (click)="mostrar(0)">Cancelar</button>
      </div>
  
  </div>
  </div> 













<div id="tabla">
    <div class="table-responsive" >
    <table class="table table-bordered" style="color:black; border: 4px solid black;">
      <thead class="table-light"> 
        <tr>
          <th>ID Localidad</th>
          <th>Nonbre</th>
          <th>Número de localidad</th>
          
            <th>Acciones</th>
    
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let item  of localidad">
          <td>{{item.id_localidad}}</td> 
          <td>{{item.nombre}}</td> 
          <td>{{item.numero}}</td> 
        
          
         <td>
           <a (click)="cargardatos(item, item.id_localidad)">
           <span class="fas fa-edit Editar" title="Editar"></span> 
          </a> 
    
           -
           <a (click)="preguntar(item.id_localidad, item.nombre)">
           <span class= "fas fa-eraser Eliminar" title="Eliminar"></span>
          </a>
    
          </td>
          
          
    
    
    
    
        </tr>
      </tbody> 
      </table>
    </div>
    </div>