
<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="black">
    
    <a href="logo">
        <img src="assets/img/Logo Burgue Middle Earth.png" class="logoburguer" alt="logoburguer">
    </a>
    
    <nav class="navbar-menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['/Inicio']">Inicio</a>
            </li>
            <li class="nav-item" *ngIf="mostrarProductos()">
                <a class="nav-link text-white" [routerLink]="['/Productos']">Productos</a>
            </li>

            <li class="nav-item"*ngIf="mostrarUsuarios()" >
                <a class="nav-link text-white" [routerLink]="['/Usuarios']">Usuarios</a>
            </li>
            <li class="nav-item" *ngIf="mostrarCompras()">
                <a class="nav-link text-white" [routerLink]="['/Compras']">Compras</a>
            </li>
            <li class="nav-item" *ngIf="mostrarDashboard()">
                <a class="nav-link text-white" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
        
        <li class="nav-item" *ngIf="mostrarVentas()">
            <a class="nav-link text-white" [routerLink]="['/ventas']">Ventas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['/Notificaciones']">Notificaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['/Pedidos']">Pedidos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['/Localidad']">Localidades</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['/Rol']">Roles</a>
        </li>



            
            
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-shopping-cart carshopping"  style="cursor: pointer;" title="Carrito de compras"></i>
                </a>
            </li>
            
        </ul>
        
    </nav>
    
    <div id="navbarSearch" class="navbar-search w-100 collapse">
        <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
    </div>


<button class="fa-solid fa-bars acordeon" type="button" title="acordeon" style ="color:white "data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>
<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <div class="d-flex flex-column">
     <br>   

    <a class="nav-link text-white"style="cursor:pointer; font-size: 30px; margin-botton:20px;">Mi perfil 
        <i class="fa-solid fa-user" style="color:white"> Mi perfil</i>

    </a>
   <br>
   <br>
    <a class="nav-link text-white"style="cursor:pointer ; font-size: 30px; margin-botton:20px;">Sedes
    
        <i class="fa-solid fa-bell-concierge" style="color:white"></i>
    </a>
    <br>
    <br>
    <a class="nav-link text-white" (click)="cerrar()" style="cursor:pointer ; font-size: 30px; ">Cerrar sesión
        <i class="fa-solid fa-right-from-bracket" style="color:white"></i>
    </a>
</div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    

  </div>
</div>



</header>


  


