
<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="black">
    
    <a href="logo">
        <img src="assets/img/Logo Burgue Middle Earth.png" class="logoburguer" alt="logoburguer">
    </a>
    
    <nav class="navbar-menu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Menú</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['/Usuarios']">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['/Compras']">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
           

            <ul class="container1" style="display: flex; justify-content: flex-end;">
              <input type="text" placeholder="  Buscar">
      
            </ul>
            
            <li class="nav-item">
                <a class="fas fa-cart-arrow-down carshopping" [routerLink]="'/carshopping'" title="car shopping"></a>
            </li>

        </ul>
        
    </nav>
    
    <div id="navbarSearch" class="navbar-search w-100 collapse">
        <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
    </div>
  </header>
  