<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Hamburguesas
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <h4>Deliciosas Hamburguesas traidas del fantastico mundo del señor de los anillos.</h4>
        <div class="container">
          <div class="card">
        <img src="/assets/img/hamburguesa1.jpg"class="imagen"  alt="hamburguesa1">
        <div class="texto"> <h4> Hamburguesa Elfica</h4>
          <p>Traida de las tierras elfica carne de res 400 gr, lechuga, tomate, tocino, queso cheddar</p></div>
          </div>

          <div class="card">
        <img src="/assets/img/hamburguesa2.jpg" class="imagen" alt="hamburguesa2">
        <div class="texto"><h4> Hamburguesa Mordor</h4>
          <p>Hamburguesa Elfica: Traida de las tierras de mordor con doble carne de  400 gr, lechuga, tomate, tocino, queso cheddar y queso doble crema</p>
        </div>
          </div>

          <div class="card">
        <img src="/assets/img/hamburguesa3.jpg"class="imagen" alt="hamburguesa3"> 
        <div class="texto"><h4> Hamburguesa Hobbit</h4>
          <p>Hamburguesa Elfica: Traida de las tierras de los hobbits carne de res 400 gr, pechuga de pollo, lechuga, tomate, tocino, queso bufala, maduro y salsa de la casa</p>
        </div>
      </div>
      </div>
      </div>
      </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Hot Dogs
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
       <h4>Deliciosos Hot Dogs traidas desde las tenebrosas tierras de mordor.</h4>
        <div id="imagenes" class="rounded">

          <div class="container">
            <div class="card">
          <img src="/assets/img/hotdog1.jpg"class="imagen"  alt="hamburguesa1">
          <div class="texto"> <h4> Hot Dog Gollum</h4>
            <p>Delicioso Hot Dog de salchicha vegetariana, acompañado de queso tofu y salsas de la casa</p></div>
            </div>
  
            <div class="card">
          <img src="/assets/img/hotdog2.jpg" class="imagen" alt="hamburguesa2">
          <div class="texto"><h4> Hot Dog Sauron </h4>
            <p>Delicioso Hot Dog relizado a la parrilla, con doble queso, salsa chimichurri y salsas de la casa</p>
          </div>
            </div>
  
            <div class="card">
          <img src="/assets/img/hotdog3.jpg"class="imagen" alt="hamburguesa3"> 
          <div class="texto"><h4> Hot Dog Legolas</h4>
            <p>Delicioso Hot Dog de salchicha americana acompañado con salsa de piña, tocino, huevo, queso cheddar</p>
          </div>
        </div>
        </div>
        </div>    
       </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Bebidas
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <h4>Refrescantes bebidas para continuar tu viaje </h4>
        <div id="imagenes" class="rounded">
          <div class="container">
          <div class="card">
            <img src="/assets/img/jugos.jpg"class="imagen"  alt="hamburguesa1">
            <div class="texto"> <h4> Jugos Naturales</h4>
              <p>Jugos Naturales en agua o leche de maracuya, lulo, mora, mango o combinados pide el que más te guste</p></div>
              </div>
    
              <div class="card">
            <img src="/assets/img/gaseosas.jpg" class="imagen" alt="hamburguesa2">
            <div class="texto"><h4> Gaseosas Postobón</h4>
              <p>Gaseosas personales productos posbotbón retornables y no retornables</p>
            </div>
              </div>
          </div>     
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        Postres
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
      <div class="accordion-body">
        <h4>Postres de las tierras Hobbits </h4>
        <div id="imagenes" class="rounded">
          <div class="container">
            <div class="card">
              <img src="/assets/img/postre1.jpg"class="imagen"  alt="hamburguesa1">
              <div class="texto"> <h4> Pastel Bilbo</h4>
                <p>Delicioso potre con la receta de Bilbo. Luego de el tercer almuerzo es necesario un pastel Bilbo para tener energía </p></div>
                </div>
      
                <div class="card">
              <img src="/assets/img/postre2.jpg" class="imagen" alt="hamburguesa2">
              <div class="texto"><h4> Brownie de Sam</h4>
                <p> Como buen Hobbit el Brownie de Sam es el indicado para seguir con tu aventura, con extra de chocolate</p>
              </div>
                </div>
            </div> 
    </div>
  </div>
