<nav class="navbar seacher w-100">
    <div class="container-fluid">
        <form class="d-flex justify-content-center" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" style="text-align: left;">
            <button class="btn btn-dark" type="submit"style="width:90px;" >
                <i class="fa-solid fa-magnifying-glass" style="font-size: 20px;"></i>

            </button>
        </form>
    </div>
</nav>


<div class="container-fluid">
    <div class="column">
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            VER MENÚ DESPLEGABLE
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel"> 🧙🏻‍♂️ BIENVENIDO AL MENÚ DE BURGUER MIDDLE EARTH</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="sidebar sidebar-expand-md bg-light">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <h5> 🤯PROMOCIONES</h5>
                
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Aros de cebolla
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Hamburguesa Hobbit
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Salchipapa Gandalf
                                </a>
                            </li>
                            <h5> 🥘ENTRADAS</h5>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Aros de cebolla
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Dedos de queso
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Papas con queso
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Maduro con bocadillo y queso
                            </a>
                            </li>
                            <h5> 🍔 HAMBURGUESAS</h5>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Hamburguesa Elfica
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Hamburguesa Mordor
                                </a>
                            </li>
                            <h5> 🍟SALCHIPAPAS</h5>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Salchipapa Frodo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Salchipapa Throrin
                                </a>
                            </li>
                            <h5> 🍹BEBIDAS Y POSTRES 🍰</h5>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Pastel de Bilbo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                Helado de Sam
                                </a>
                            </li>
                           <h5> 👤 MI PERFIL</h5>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Mis productos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                                    Mis pedidos
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-question-circle"></i>
                                    Soporte
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi bi-x-circle"></i>
                                    Salir
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
          </div>