<div class="container-fluid">
  <div class="column">
      <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          VER MENÚ DESPLEGABLE
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"> 🧙🏻‍♂️ BIENVENIDO AL MODULO ADMINISTRADOR</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <nav class="sidebar sidebar-expand-md bg-light">
                  <div class="position-sticky pt-3">
                      <ul class="nav flex-column">
                          <h5> 📊 REPORTES</h5>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  REPORTE DE VENTAS
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  REPORTE DE INVENTARIO
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  REPORTE DE CANCELACIONES
                              </a>
                          </li>
                          <h5> 🗃 CONFIGURACIÓN DEL REPORTE</h5>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  DIARIO
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  SEMANAL
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  SEMESTRAL
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  ANUAL
                          </a>
                          </li>
                          <h5> 💻 DESCARGAS</h5>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  PDF
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  EXCEL
                              </a>
                          </li>
                         <h5> 👤 EDITAR USUARIOS Y PRODUCTOS</h5>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  MODIFICAR PRODUCTOS
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="#">
                                  MODIFICAR USUARIOS
                              </a>
                          </li>
                      </ul>
                      <hr>
                      <ul class="nav flex-column mb-2">
                          <li class="nav-item">
                              <a class="nav-link" href="#">
                                  <i class="bi bi-question-circle"></i>
                                  Soporte
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#">
                                  <i class="bi bi-x-circle"></i>
                                  Salir
                              </a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
        </div>
