.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  @media (min-width: 768px) 
}

/*
 * Sidebar
 */
 @media (min-width: 768px){
.sidebar {
  background-color: aliceblue;

}
}

  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    @media (min-width: 768px) ;
    
  
  }



  .navbar-search {
    display: block;
    background-color: rgb(251, 251, 251);
    @media (min-width: 768px) ;
  }


.sidebar .nav-link {
  font-size:medium;
  font-weight: 500;
  color:#6B1224;
  font-family: Arial, Helvetica, sans-serif;
  @media (min-width: 768px) 
}


.sidebar .nav-link.active {
  color: #6B1224;
  @media (min-width: 768px)

}


.sidebar-heading {
  font-size:medium;
  font-weight: bold;
  @media (min-width: 768px)
  
}

/*
 * Navbar
 */


.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgb(213, 209, 209);
  box-shadow: inset -1px 0 0 rgb(255, 252, 252);
}
 

.navbar .form-control {
  padding: .75rem 1rem;
}
 
footer {
  background-color: black;
  color: white;
  text-align:left;
  padding: 30px;;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  bottom:0;
  position: absolute;
  width: 100%;

}

@media (min-width: 768px){

  footer {
    padding: 20px;
   }


}
.redes img {

 max-width: 50%;
 max-height:50%;
float: right;
margin-top: -50px;

}
/* Estilos para el logo en pantallas más grandes (ancho mayor a 768px) */
@media (min-width: 768px){
  .logoburguer {
      width: auto; /* La imagen se ajustará automáticamente */
      height: 120px; /* Altura fija para el logo en pantallas más grandes */
      float: right; /* Coloca el logo a la derecha */
      margin-left: 20px;
      
  }
}


  
.navbar-nav{
list-style: none;
margin: 0;
padding: 0%;
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
justify-content: center;


}
  
.nav-item {
  margin-right: 20px;
  display: inline-block;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;

}



.navbar-menu{
margin: 0%;
padding: 0%;
list-style: none;
margin-right:auto;
margin-left: 100px;
justify-content: center  ;
font-size: larger;}

.container1 {

float: right;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;

}

.page-content{   text-align:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;


}

.nav.flex-column.mb-2{

font-family: Arial, Helvetica, sans-serif;
font-size: larger;

}
.btn.btn-dark {
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}




