<h1>Usuarios</h1>

<button class="btn btn-dark"(click)="mostrar(1)">Crear tu cuenta</button><br><br>


<div id="formulario" *ngIf="verf==true">  
  <div class="col-sm-6 col-md-5 form-section">
  <div class="login-wrapper">
      <div class="form-group" >

        <div>
        <span style="color: crimson;" *ngIf="validNombre==false">Ingre su nombre</span>
        <br>
        <input type="text" [(ngModel)]="user.Nombre" placeholder="Ingrese su nombre"> 
      </div>
        
      <div>
        <span style="color: crimson;" *ngIf="validCorreo==false">Ingrese un correo electrónico</span>
        <br>
        <input type="text" [(ngModel)]="user.Correo"placeholder="Correo Electrónico">
      </div>
        
        <div>
        <span style="color: crimson;" *ngIf="validclave==false">Ingrese una contraseña</span>
        <br>
        <input type="password" [(ngModel)]="user.clave"  placeholder="Contraseña">
      </div>


        
        <div> 
        <span style="color: crimson;" *ngIf="validTelefono==false">Ingrese su teléfono</span>
        <br>
        <input type="text" [(ngModel)]="user.Telefono" placeholder="Teléfono">
      </div>

     
      
        
    

       <div>
       <span style="color: crimson;" *ngIf="validDireccion==false">Ingrese su dirección</span>
       <br>
        <input type="text"[(ngModel)]="user.Direccion" placeholder="Dirección">
      </div>


      <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="rol" id="fo_rol" [(ngModel)]="user.fo_rol">
   
          <option value="0" label="Seleccione un rol"></option>
          <option *ngFor="let itemrol of rol" value="{{itemrol.id_rol}}" label="{{itemrol.nombre}}">{{itemrol.nombre}}</option>
   
   
   
   
   
   
   
   
        </select>
        <span style="color: crimson;" *ngIf="validfo_rol==false">fo_rol</span>
   
   
         </div>

         <br>

         <div class="mb-3">
          <select class="form-select" aria-label="Default select example" name="localidad" id="fo_localidad" [(ngModel)]="user.fo_localidad">
     
            <option value="0" label="Seleccione una localidad"></option>
            <option  *ngFor="let itemlocalidad of localidad" value="{{itemlocalidad.id_localidad}}" label="{{itemlocalidad.nombre}}">{{itemlocalidad.nombre}}</option>

   
          </select>

          <span style="color: crimson;" *ngIf="validfo_localidad==false">Ingrese su dirección</span>
     
           </div>
       
        
      </div>
    </div>  

    
  
      <div class="button2" >
      <button *ngIf="beditar===false" type="button" class="btn btn-warning" style="margin: 50px"(click)="ingresar()" >Guardar</button>

      <button *ngIf="beditar===true"  type="button" class="btn btn-warning" style="margin: 40px" (click)="edita()">Guardar cambios</button>
      
      <button type="button" class="btn btn-warning"style="margin: 40px" (click)="mostrar(0)">Cancelar</button>
    </div>

</div>
</div> 


<div id="tabla">
<div class="table-responsive" >
<table class="table table-bordered" style="color:black; border: 4px solid black;">
  <thead class="table-light"> 
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Correo</th>
        <th>Localidad</th>
        <th>Rol</th>

        <th>Acciones</th>

    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let item  of usuario">
      <td>{{item.Nombre}}</td> 
      <td>{{item.Direccion}}</td> 
      <td>{{item.Telefono}}</td> 
      <td>{{item.Correo}}</td> 
      <td>{{item.fo_localidad}}</td> 
      <td>{{item.fo_rol}}</td> 
      <td>
        <a (click)="cargardatos(item, item.id_usuario)">
       <span class="fas fa-edit Editar" title="Editar"></span> 
      </a>

       -
       <a (click)="preguntar(item.id_usuario, item.Nombre)">
       <span class= "fas fa-eraser Eliminar" title="Eliminar"></span>
      </a>

      </td>
      
      




    </tr>
  </tbody> 
  </table>
</div>
</div>
