.form-group input {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
  }
  
.Editar{
    font-size: 30px;
    color: black;
    cursor: pointer;
  }
.Eliminar{
    font-size: 30px;
    cursor: pointer;
    color: brown;
  }
  

  .rol {margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;



  }

  .localidad {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;

  }